<header id="header" class="header-style-1">
<div class="header-top-bar">
    <div class="container">


        {% include 'HackspaceE2014Bundle::languages.html.twig' %}

        <!-- Bookmarks -->
        <a href="#" class="btn btn-link bookmarks">Bookmarks</a>

        <!-- Header Register -->
        <div class="header-register">
            <a href="#" class="btn btn-link">Register</a>
            <div>
                <form action="#">
                    <input type="text" class="form-control" placeholder="Username">
                    <input type="email" class="form-control" placeholder="Email">
                    <input type="password" class="form-control" placeholder="Password">
                    <input type="submit" class="btn btn-default" value="Register">
                </form>
            </div>
        </div> <!-- end .header-register -->

        <!-- Header Login -->
        <div class="header-login">
            <a href="#" class="btn btn-link">Login</a>
            <div>
                <form action="#">
                    <input type="text" class="form-control" placeholder="Username">
                    <input type="password" class="form-control" placeholder="Password">
                    <input type="submit" class="btn btn-default" value="Login">
                    <a href="#" class="btn btn-link">Forgot Password?</a>
                </form>
            </div>
        </div> <!-- end .header-login -->

    </div> <!-- end .container -->
</div> <!-- end .header-top-bar -->

<div class="header-nav-bar">
    <div class="container">

        <!-- Logo -->
        <div class="css-table logo">
            <div class="css-table-cell">
                <a href="index.html">
                    <img src="{{ asset('img/header-logo.png') }}" alt="">
                </a> <!-- end .logo -->
            </div>
        </div>

        <!-- Mobile Menu Toggle -->
        <a href="#" id="mobile-menu-toggle"><span></span></a>

        <!-- Primary Nav -->
        <nav>
            <ul class="primary-nav">
                <li class="active has-submenu">
                    <a href="index.html">Home</a>
                    <ul>
                        <li><a href="index.html">Home with Boxes</a></li>
                        <li><a href="homepage-slider.html">Home with Slider</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="jobs.html">Jobs</a>
                    <ul>
                        <li><a href="jobs.html">Jobs Listings</a></li>
                        <li><a href="jobs-single.html">Jobs Details</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="candidates.html">Candidates</a>
                    <ul>
                        <li><a href="candidates.html">Candidates Listings</a></li>
                        <li><a href="candidates-sidebar.html">Candidates Listings Sidebar</a></li>
                        <li><a href="candidates-single.html">Candidates Details</a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="about-us.html">About Us</a>
                    <ul>
                        <li><a href="partners.html">Partners</a></li>
                        <li><a href="contact-us.html">Contact Us</a></li>
                    </ul>
                </li>
                <li><a href="register.html">Register</a></li>
                <li><a href="shortcodes.html">Shortcodes</a></li>
            </ul>
        </nav>
    </div> <!-- end .container -->

    <div id="mobile-menu-container" class="container">
        <div class="login-register"></div>
        <div class="menu"></div>
    </div>
</div> <!-- end .header-nav-bar -->

<div class="header-search-bar">
    <div class="container">
        <form>
            <div class="basic-form clearfix">
                <a href="#" class="toggle"><span></span></a>

                <div class="hsb-input-1">
                    <input type="text" class="form-control" placeholder="I'm looking for a ...">
                </div>

                <div class="hsb-text-1">in</div>

                <div class="hsb-container">
                    <div class="hsb-input-2">
                        <input type="text" class="form-control" placeholder="Location">
                    </div>

                    <div class="hsb-select">
                        <select class="form-control">
                            <option value="0">Select Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                            <option value="">Category</option>
                        </select>
                    </div>
                </div>

                <div class="hsb-submit">
                    <input type="submit" class="btn btn-default btn-block" value="Search">
                </div>
            </div>

            <div class="advanced-form">
                <div class="container">
                    <div class="row">
                        <label class="col-md-3">Distance</label>

                        <div class="col-md-9">
                            <div class="range-slider">
                                <div class="slider" data-min="1" data-max="200" data-current="100"></div>
                                <div class="last-value"><span>100</span> km</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3">Rating</label>

                        <div class="col-md-9">
                            <div class="range-slider">
                                <div class="slider" data-min="1" data-max="100" data-current="20"></div>
                                <div class="last-value">&gt; <span>20</span> %</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3">Days Published</label>

                        <div class="col-md-9">
                            <div class="range-slider">
                                <div class="slider" data-min="1" data-max="60" data-current="30"></div>
                                <div class="last-value">&lt; <span>30</span></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3">Location</label>

                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="Switzerland">
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-md-3">Industry</label>

                        <div class="col-md-9">
                            <select class="form-control">
                                <option value="">Select Industry</option>
                                <option value="">Option 1</option>
                                <option value="">Option 2</option>
                                <option value="">Option 3</option>
                                <option value="">Option 4</option>
                                <option value="">Option 5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div> <!-- end .header-search-bar -->

<div class="header-banner">
    <div class="flexslider header-slider">
        <ul class="slides">
            <li>
                <img src="{{ asset('img/transparent.png') }}" alt="">
                <div data-image="{{ asset('img/content/slide-1.png') }}"></div>
            </li>

            <li>
                <img src="{{ asset('img/transparent.png') }}" alt="">
                <div data-image="{{ asset('img/content/slide-2.png') }}"></div>
            </li>

            <li>
                <img src="{{ asset('img/transparent.png') }}" alt="">
                <div data-image="{{ asset('img/content/slide-3.png') }}"></div>
            </li>
        </ul>
    </div>
</div> <!-- end .header-banner -->
</header> <!-- end #header -->