<div class="header-banner">
    <div class="flexslider header-slider">
        <ul class="slides">
            <li>
                <img src="{{ asset('img/transparent.png') }}" alt="">
                <div data-image="{{ asset('img/content/slide-1.png') }}"></div>
            </li>

            <li>
                <img src="{{ asset('img/transparent.png') }}" alt="">
                <div data-image="{{ asset('img/content/slide-2.png') }}"></div>
            </li>

            <li>
                <img src="{{ asset('img/transparent.png') }}" alt="">
                <div data-image="{{ asset('img/content/slide-3.png') }}"></div>
            </li>
        </ul>
    </div>
</div> <!-- end .header-banner -->
