{#
<div class="success-stories-section">
    <div class="container">
        <h5 class="mt10">Success Stories</h5>

        <div>
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-0.png') }}" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-1.png') }}" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-2.png') }}" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-3.png') }}" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-4.png') }}" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-5.png') }}" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-6.png') }}" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-7.png') }}" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-8.png') }}" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-9.png') }}" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-3.png') }}" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-4.png') }}" alt="">
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <img class="thumb" src="{{ asset('img/content/face-5.png') }}" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
#}