{%  extends 'HackspaceE2014Bundle::base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}

    <div class="header-page-title">
        <div class="container">
            <h1>Candidatos encontrados <small>({{ candidatos|length }})</small></h1>

            <ul class="breadcrumbs">
                <li><a href="{{ path('_homepage') }}">Inicio</a></li>
                <li><a href="#">Candidatos</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
            {{  include('HackspaceE2014Bundle::candidatos-filter.html.twig', { 'form' : form, 'facets' : facets })  }}

            <div class="col-sm-8 page-content">
                {#
                <div id="jobs-page-map" class="white-container"></div>
                #}

                <div class="title-lines">
                    <h3 class="mt0">Candidatos Encontrados</h3>
                </div>

                <div class="clearfix mb30">
                    <ul class="jobs-view-toggle pull-left">
                        <li><a href="#" data-layout="with-thumb" class="btn btn-gray fa fa-th-list active"></a></li>
                        <li><a href="#" data-layout="" class="btn btn-gray fa fa-list"></a></li>
                        <li><a href="#" data-layout="compact" class="btn btn-gray fa fa-align-justify"></a></li>
                    </ul>

                    <select class="form-control pull-left">
                        <option value="">Ordenar Por:</option>
                        <option value="">Partido Político</option>
                        <option value="">Cargo</option>
                    </select>

                    {# pagerfanta(candidatos, 'twitter_bootstrap3', pagerfanta_opts) #}

                    <ul class="pagination pull-right">
                        <li><a href="#" class="fa fa-angle-left"></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" class="fa fa-angle-right"></a></li>
                    </ul>
                </div>

                {%  for candidato in candidatos %}
                    <div class="jobs-item with-thumb">
                        <div class="thumb"><img src="{{ asset(random(['img/content/bus-00.png', 'img/content/bus-01 .png', 'img/content/bus-02.png', 'img/content/bus-03.png'])) }}" alt=""></div>
                        <div class="clearfix visible-xs"></div>
                        <div class="date">{{ candidato.dni }} <span>*</span></div>
                        <h6 class="title">
                            <a href="{{ path('_infocandidato', { 'candidato_id' : candidato.id }) }}">
                                {{ candidato.appaterno }} {{ candidato.apmaterno }}, {{ candidato.nombres }}
                            </a>
                        </h6>
                        <span class="meta">
                            {{ candidato.cargoautoridad }} - {% if candidato.postulaubigeodis %}{{ candidato.postulaubigeodis }}{% elseif candidato.postulaubigeopro %}{{ candidato.postulaubigeopro }}{% else %}{{ candidato.postulaubigeodep }}{% endif %}
                        </span>

                        <ul class="top-btns">
                            <li><a href="#" class="btn btn-gray fa fa-plus toggle"></a></li>
                            <li><a href="#" class="btn btn-gray fa fa-star"></a></li>
                            <li><a href="#" class="btn btn-gray fa fa-link"></a></li>
                        </ul>

                        <p class="description">{{ candidato.formadesignacion }}. <a href="#" class="read-more">Más</a></p>

                        <div class="content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut impedit obcaecati nisi deleniti tempore maxime sequi fugit reiciendis libero quo. Rerum, assumenda.</p>

                            <h5>Required Skills</h5>

                            <div class="progress-bar toggle" data-progress="60">
                                <a href="#" class="progress-bar-toggle"></a>
                                <h6 class="progress-bar-title">Web Design</h6>
                                <div class="progress-bar-inner"><span></span></div>
                                <div class="progress-bar-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
                                </div>
                            </div>

                            <div class="progress-bar toggle" data-progress="60">
                                <a href="#" class="progress-bar-toggle"></a>
                                <h6 class="progress-bar-title">Development</h6>
                                <div class="progress-bar-inner"><span></span></div>
                                <div class="progress-bar-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
                                </div>
                            </div>

                            <div class="progress-bar toggle" data-progress="60">
                                <a href="#" class="progress-bar-toggle"></a>
                                <h6 class="progress-bar-title">UI/UX</h6>
                                <div class="progress-bar-inner"><span></span></div>
                                <div class="progress-bar-content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, asperiores.
                                </div>
                            </div>

                            <h5>Additional Requirements</h5>

                            <ul class="additional-requirements clearfix">
                                <li>Work Permit</li>
                                <li>5 Years Experience</li>
                                <li>MBA</li>
                                <li>Magento Certified</li>
                                <li>Perfect Written &amp; Spoken English</li>
                            </ul>

                            <hr>

                            <div class="clearfix">
                                <a href="#" class="btn btn-default pull-left">Apply for this Job</a>

                                <ul class="social-icons pull-right">
                                    <li><span>Share</span></li>
                                    <li><a href="#" class="btn btn-gray fa fa-facebook"></a></li>
                                    <li><a href="#" class="btn btn-gray fa fa-twitter"></a></li>
                                    <li><a href="#" class="btn btn-gray fa fa-google-plus"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <div class="clearfix">
                    <ul class="pagination pull-right">
                        <li><a href="#" class="fa fa-angle-left"></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" class="fa fa-angle-right"></a></li>
                    </ul>
                </div>
            </div> <!-- end .page-content -->
        </div>
    </div>
{% endblock %}